<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ellpedia Academic</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Ellpedia Academic (論文検索エンジン/サイトです。)">
  <link rel="stylesheet" media="screen and (min-width: 620px)"　type="text/css" href="../static/css/indexpage.css">
  <link rel="stylesheet" media="screen and (max-width: 620px)" type="text/css" href="../static/css/indexpage_sp.css">
  <meta name="apple-mobile-web-app-title" content="Ellpedia">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/css/image/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/css/image/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/css/image/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/css/image/favicon/manifest.json">
  <link rel="mask-icon" href="../static/css/image/favicon/safari-pinned-tab.svg" color="#7c7c7c">
  <link rel="shortcut icon" href="../static/css/image/favicon/favicon.ico">
  <meta name="msapplication-config" content="../static/css/image/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <script type="text/javascript" src="../static/script/check.js"></script>
  <script type="text/javascript" src="../static/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/script/focus.js"></script>
  <script type="text/javascript" src="../static/script/jquery.maxlength.js"></script>
</head>

<body>

  <div id="main">

    <header>
      <div id="ellpedia"><span id="logo_color">Éll</span>pedia</div>
      <form id="search_form" name="search_form" method="post" action="/search" onSubmit="return check()" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
        <input type="text" value="{{query}}" id="type_text" name="q" maxlength="70" placeholder="keyword">
        <button type="submit" class="submit"><img src="../static/css/image/isearch_button.png" width="30px"></button>
        <input type="hidden" name="spl" value="0">
        <input type="hidden" name="p" value="1">
      </form>
      <div id="info">Ellpedia Academic | 論文検索</div>
    </header>

    <footer>
      <div id="footers">

        <div class="fwrap">
          <a href="http://localhost:50000">
            <div class="footer_icon green">
              <div id="web_jp"><img src="../static/css/image/globe.png"></div>
            </div>
          </a>
          <span class="icon_text">Web (JP)</span>
        </div>

        <div class="fwrap">
          <a href="http://localhost:50001">
            <div class="footer_icon swapred">
              <div id="web_en"><img src="../static/css/image/globe.png"></div>
            </div>
          </a>
          <span class="icon_text">Web (EN)</span>
        </div>

        <div class="fwrap">
          <a href="http://localhost:50003">
            <div class="footer_icon stblue">
              <div id="bot"><img src="../static/css/image/chat.png"></div>
            </div>
          </a>
          <span class="icon_text">Chatbot</span>
        </div>

        <div class="fwrap">
          <a href="https://blog.ellpedia.com" target="_blank">
            <div class="footer_icon_two">
              <span id="icon_head_y"></span>
              <div id="blog"><img src="../static/css/image/edit.png"></div>
            </div>
          </a>
          <span class="icon_text">Our Blog</span>
        </div>

        <div class="fwrap">
          <a href="https://blog.ellpedia.com/privacy/" target="_blank">
            <div class="footer_icon orange">
              <div id="lock"><img src="../static/css/image/lock.png"></div>
            </div>
          </a>
          <span class="icon_text">Privacy</span>
        </div>
     
      </div>
      <div id="copyright">© 2020 Ellpedia | <a href="https://github.com/thunderra1n/Ellpedia" target="_blank">Source Code</a><br>Designed by Ellpedia in Tokyo</div>
    
    </footer>
  </div>
</body>
</html>